*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	font-size: 16px;
}

body {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	border: 2px solid red;
}

.sketch-container {
	width: 100%;
}
