body {
	text-align: center;
	font-family: "Roboto", sans-serif;
}

h1 {
	font-size: 3rem;
	margin: 2rem auto;
}

.container {
	width: 500px;
	height: 500px;
	display: grid;
	margin: auto;
	border: 2px solid black;
}

.buttons {
	margin: 2rem auto;
}

.buttons > button {
	margin: auto 1rem;
	padding: 0.25rem 0.5rem;
	font-size: 1rem;
	border-radius: 5px;
}

.buttons > button:hover {
	background-color: gray;
	cursor: pointer;
}

div > input {
	border: 2px solid black;
}

#create-btn {
	margin: auto 1rem;
	padding: 0.25rem 0.5rem;
	font-size: 1rem;
	border-radius: 5px;
}

#create-btn:hover {
	background-color: gray;
	color: orangered;
	cursor: pointer;
}

footer {
	margin: 2rem auto;
	font-size: 1.2rem;
}
